p {text-align: center; font-size: 20 px ; 
background: #f7d1d1;}
H1{font-size: 50 px; text-align: center; background: #c2f095cc;}
body{background: #8ea4edcc;}
#imagem1 {
    width: 100%;
h1 {border: 10px; padding: 20px; text-align: center }
.itens{ font-style: italic; }